#back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

video::-webkit-media-controls {
  display: none !important;
}
#m_2 {
  display: flex;
  background-color: rgb(0, 0, 0);
  flex-direction: column;
  height: 990px;
  justify-content: space-around;
  align-items: center;
}
.b_1,
.b_2 {
  z-index: 1;
  background-color: rgba(240, 248, 255, 0);
  border: none;
  color: rgb(40, 16, 179);
  font-size: 500%;
}
